html,body
{
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

 .main
 {
   width: 100%;
   background: linear-gradient(to top, rgba(0,0,0,0.5)100%, rgba(0,0,0,0.5)100%), url(ex.jpg);
   background-position: center;
   background-size: cover;
   height: 100%;
   
 }

 .navbar
 {
   width: 1200px;
   height: 85px;
   margin: auto;
 }

 .icon
 {
   width: 200px;
   float: left;
   height: 70px;
 }

 .logo
 {
   color: whitesmoke;
   font-size: 35px;
   font-family: Arial;
   padding-left: 20px;
   float: left;
   padding-top: 10px;
 }

 .menu
 {
   width: 400px;
   float: left;
   height: 70px;
 }

 ul
 {
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 ul li
 {
   list-style: none;
   margin-left: 62px;
   margin-top: 27px;
   font-size: 14px;
 }

 ul li a
 {
   text-decoration: none;
   color: whitesmoke;
   font-family: Arial;
   font-weight: bold;
   transition: 0.4s ease-in-out;
 }

 ul li a:hover
 {
   color: rgb(14, 75, 75);
 }

.search
{
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch 
{
  font-family:'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 13px;
  color: whitesmoke;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 15px;
  border-bottom: 5px;
  border-top-left-radius: 5px;
}

.btn
{
  width: 100px;
  height: 40px;
  background: whitesmoke;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 13px ;
  color: rgb(53, 87, 68);
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search .btn:hover
{
  background-color: rgb(156, 156, 156);
}
.srch:focus
{
  outline: none;
}

.content
{
  width: 1200px;
  height: auto;
  margin: auto;
  color: rgb(206, 211, 210);
  position: relative;
}

.content .par
{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1
{
  font-family:'Times New Roman';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn 
{
  width: 160px;
  height: 40px;
  background: rgb(179, 179, 175);
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
}

.content .cn a
{
  text-decoration: none;
  color: black;
  transition: .3 ease;
}

.cn:hover
{
  background-color: rgba(63, 99, 99, 0.534);
}

.content span
{
  color: rgba(117, 153, 145, 0.788);
  font-size: 60px;
}

.form
{
  width: 250px;
  height: 380px;
  background: linear-gradient(to top, rgb(179, 179, 175)50%,rgb(179, 179, 175)50%);
  position: absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}

.form h2
{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: rgba(58, 88, 82, 0.788);
  font-size: 22px;
  background-color: rgb(179, 179, 175) ;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
  border-color:rgb(179, 179, 175);
}

.form input
{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid rgb(179, 179, 175);
  border-right: none;
  border-top: none;
  border-left: none;
  color: rgba(5, 5, 5, 0.788);
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus
{
  outline: none;
}

::placeholder
{
  color: rgba(0, 0, 0, 0.788);
  font-family: Arial;
}

.btnn
{
  width: 240px;
  height: 40px;
  background: rgba(91, 109, 106, 0.788);
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: antiquewhite;
}

.btnn:hover
{
  background: whitesmoke;
  color: black;
}

.btnn a
{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.form .link
{
  font-family: Arial;
  font-size: 15px;
  padding-top: 20px;
  text-align: center;
  color: #000;
  letter-spacing: 1px;
}

.form .link a
{
  text-decoration: none;
  color: rgba(58, 88, 82, 0.788);
}

.liw
{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  color: black ;
  font-size: 15px;
  letter-spacing: 1px;
}


